.m-coll-media-box{width:100%;height:100px;}
.m-c-media-left-img{width:80px;height:80px;}
.m-videolist-h5{
	padding:0px;
	font-size:14px;
	font-weight:600;
	color:#333;
}
.m-salary-box{height:80px;display:flex;flex-flow:column wrap;justify-content:center;align-items:center;}
.m-c-div11{display:flex;flex-flow:row wrap;justify-content:space-between;align-items:center;}
.m-c-div12{display:flex;flex-flow:column wrap;justify-content:flex-start;align-items:flex-start;}

.m-list-group-item{padding-right:0px;padding-top:0px;margin-top:10px;position:relative;}

/* .m-trangle{border-top:0px solid red;border-right:20px solid white;border-bottom:20px solid red;border-left:0px solid red;position:absolute;right:-1px;} */
.m-trangle{width:auto;height:auto;position:absolute;right:0px;}
.m-delete{padding:2px;margin:2px;background:#EA413C;color:white;}
/* .m-delete-img{background:white;color:white;position:absolute;right:-1px;} */
.m-div6{padding-right:10px;}


/*底部*/
.m-c-btn-group{border-top:1px solid #eee;}



