/*tab-box*/
.m-video-tab-ul{border:0px;}
.m-video-tab-li{margin:10px 0px;}

/*tab点击样式*/
.nav-tabs>li.m-video-tab-li>a{width:60px;margin:0px;padding:3px;border:1px solid #EA413C;color:#EA413C;}
.nav-tabs>li.m-video-tab1>a{border-top-left-radius:5px;border-bottom-left-radius:5px;}
.nav-tabs>li.m-video-tab2>a{border-top-right-radius:5px;border-bottom-right-radius:5px;}
.nav-tabs>li>a{border-radius:0 0 0 0;}
.nav-tabs>li.active>a,.nav-tabs>li.active>a:hover,.nav-tabs>li.active>a:focus{background:#EA413C;color:#fff;}.nav-tabs>li.m-video-tab-li>a{width:60px;margin:0px;padding:3px;border:1px solid #EA413C;color:#EA413C;}
.nav-tabs>li.m-video-tab1>a{border-top-left-radius:5px;border-bottom-left-radius:5px;}
.nav-tabs>li.m-video-tab2>a{border-top-right-radius:5px;border-bottom-right-radius:5px;}
.nav-tabs>li>a{border-radius:0 0 0 0;}
.nav-tabs>li.active>a,.nav-tabs>li.active>a:hover,.nav-tabs>li.active>a:focus{background:#EA413C;color:#fff;}

/*job*/
.m-joblist-tagdiv{padding:10px;padding-left:0px;line-height:18px;display:flex;flex-flow:row wrap;justify-content:flex-start;align-content:flex-start;}
.m-joblist-tag{font-size:10px;padding:3px;border:1px solid #dddddd;border-radius:3px;margin-right:8px;}
.m-list-group-item{padding-bottom:0px;}
.m-search-box{padding:0px 5px;}
.m-h{color:black;font-size:14px;font-weight:bold;}
.m-absolution{text-align:right;font-size:14px;width:100px;}
.m-publisher{color:#555;}
.m-time-exp{color:#999;}